/*CSS reset settings here*/
*{
 margin: 10px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height:600px;
 background-color: silver;
 padding:20px 40px;
 margin:0px 20px;

 
}
#header{
 min-height: 150px;
 background-color: green;
 width:910px;
 padding-top:20px;
 margin-left:auto;
 margin-right:auto;
}
#navigation{
 min-height:260px;
 background-color: blue;
 margin:15px 20px;
 width:240px;
 display:inline-block;
 
}
#main_content{
 min-height: 350px;
 width: 624px;
 background-color: red;
 margin:15px 20px;
 display:inline-block; 
 vertical-align:top;
}
.subcontents{
 min-height: 160px;
 width: 160px;
 background-color: yellow;
 display:inline-block;
 margin:10px 10px;
}
#advertisement{
 min-height: 120px;
 width: 527px;
 background-color: purple;
 margin:10px 10px;
}
